[submodule "libs/json2"]
	path = libs/json2
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "libs/knockback"]
	
	path = libs/knockback
	
	url = git://github.com/kmalakoff/knockback.git
